
body {
  background: #eee;
}

.container {
  background: #f9f9f9;
  margin: 0 auto;
  padding: 1px 20px 20px;
  width: 400px;
}

h1 {
  font-size: 3em;
  margin-bottom: 4px;
}

#todo-list .task {
  font-size: 2em;
}
#todo-list .task:hover {
  background: #70CDD4;
}
#todo-list .task label {
  cursor: pointer;
}
#todo-list .task .check {
  position: relative; top: -4px;
}

#todo-list .task.done label {
  text-decoration: line-through;
}

#templates {
  display: none;
}
